<?php
/*
 * Copyright (c) 2024. Bennet Becker <dev@bennet.cc>
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 */

// Database connection information
// DSN has to be PDO compatible
// see: https://www.php.net/manual/en/pdo.drivers.php
$config['imap_apppasswd_db_dsn'] = "mysql:host=127.0.0.1;dbname=mail_auth";
$config['imap_apppasswd_db_username'] = "roundcube";
$config['imap_apppasswd_db_password'] = "password";

// The length of the passwords to be generated, i.e. the number of random bytes.
// For better readablity the password can also be chunked with a dash as delimiter.
// In this case the total length increases by `chunksize-1` characters.
// `length` needs to be a whole multiple of `chunksize`.
// If no chunking is desired, set `chunksize` equal to `length`
$config['imap_apppasswd_length'] = 16;
$config['imap_apppasswd_chunksize'] = 4;

// Used for displaying the username on the setup page, as well as the uid field in the database
// causing the mail server to match against this value. This means for example even if either
// the full email or just username (localpart) work, but the mailserver normalizes it to just
// the localpart, than the localpart should be specified here (or vice versa)
// Template string with following placeholders
// "%s" => Roundcube user as is (rcmail::user->get_username()), which is usually the full email
// "%i" => IMAP User, used be roundcube ($_SESSION['username'])
// "%e" => The full email as determined by roundcube
// "%l" => The email localpart as determined by roundcube
// "%u" => same as "%l"
// "%d" => Email domain, as determined by roundcube
// "%h" => Storage/IMAP host
$config['imap_apppasswd_username'] = "%u";

// How should app password be deleted.
// "soft" => mark them as deleted, but keep them in database. This preserves logs
// "hard" => Issue a DELETE command in SQL, deleting them and their depending log lines
$config['imap_apppasswd_delete_mode'] = "soft";

// Information to display to the user
$config['imap_apppasswd_advertised_client_imap_host'] = "imap.example.com";
$config['imap_apppasswd_advertised_client_smtp_host'] = "smtp.example.com";
$config['imap_apppasswd_advertised_client_imap_port'] = "993";
$config['imap_apppasswd_advertised_client_smtp_port'] = "587";
$config['imap_apppasswd_advertised_client_imap_protocol'] = "SSL/TLS";
$config['imap_apppasswd_advertised_client_smtp_protocol'] = "STARTTLS";
$config['imap_apppasswd_advertised_client_imap_password_method'] = "Normal password";
$config['imap_apppasswd_advertised_client_smtp_password_method'] = "Normal password";

// Additional settings
$config['imap_apppasswd_log_level'] = 0;
$config['imap_apppasswd_history_page_size'] = 20;
