<roundcube:include file="includes/layout.html" xmlns:roundcube="http://www.w3.org/1999/html"/>
<roundcube:include file="includes/menu.html" />
<roundcube:include file="includes/settings-menu.html" condition="env:task == 'settings'" />

<div id="layout-content" class="selected no-navbar" role="main">
    <div class="header-apppw">
        <ul class="menu toolbar listing iconized" id="toolbar-list-menu">
            <li role="menuitem">
                <a title="Back" class="back" href="<roundcube:object name="plugin.imap_apppasswd.imap_apppasswd.history_title.back" />">
                    <span class="inner">Back</span>
                </a>
            </li>
        </ul>
        <span class="header-title-history"><roundcube:object name="plugin.imap_apppasswd.imap_apppasswd.history_title" /></span>
        <span></span>
    </div>
    <div class="content">
<!--        <div class="apppw_info table-responsive-sm" style="overflow-x: scroll !important;">-->
            <roundcube:object name="plugin.imap_apppasswd.history" />
<!--        </div>-->
        <div class="apppw-footer" role="doc-credits">
            Information on this page may include GeoLite2 Data created by MaxMind, available from https://www.maxmind.com.
        </div>
    </div>


    <div class="pagenav menu footer small" role="toolbar" aria-label="<roundcube:label name="arialabellistnav" />">
        <roundcube:button command="firstpage" type="link" class="firstpage disabled" classAct="firstpage"
                          title="firstpage" label="first" innerclass="inner" />
        <roundcube:button command="previouspage" type="link" class="prevpage disabled" classAct="prevpage"
                          title="previouspage" label="previous" innerclass="inner" />

        <roundcube:object name="plugin.imap_apppasswd.history.count" class="pagenav-text" aria-live="polite" aria-relevant="text" />
        <input class="form-control" type="text" size="3" disabled title="<roundcube:label name="currpage" />" />

        <roundcube:button command="nextpage" type="link" class="nextpage disabled" classAct="nextpage"
                          title="nextpage" label="next" innerclass="inner" />
        <roundcube:button command="lastpage" type="link" class="lastpage disabled" classAct="lastpage"
                          title="lastpage" label="last" innerclass="inner" />
    </div>


</div>

<roundcube:object name="plugin.footer" />

<roundcube:include file="includes/footer.html" />